h1{
	color: white;
	text-align: center;
}
body {
  font-family: Arial;
  background-color: orange;
}

a {
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	padding-left: 20px;
	margin-left: 400px;
}

.container {
	outline-offset: 10px;
	margin: auto;
	height: 500px;
	width: 500px;
	margin-top: 40px; 
	outline: 10px ridge black;
	}

#submitbtn {
	border-radius: 2px;
	padding: 4px;
	background: #FF3333;
	font-family: Century Gothic;
	font-size: 9pt;
	font-weight: bold;
	color: white;
	
}

#switchbtn {
	border-radius: 2px;
	padding: 4px;
	background: green;
	font-family: Century Gothic;
	font-size: 11pt;
	font-weight: bold;
	color: white;
}

#txtbox {
	
	background: white;
	margin: auto;
}

.container1 {
	width: 350px;
	margin: auto;
}

#list {
	text-align: center;
	width: auto;
	overflow: auto;
	font-family: Arial;
	font-size: 11px;
	color: white;
	height: 200px;
	
}

#end {
margin: auto; 
}

form {
	color: white;
	font-family: Century Gothic;
	font-size: 10px;
	text-align: center;
}

input {
	text-align: center;
}


