<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
      
  <div class="container">
    <h1>Guestbook System</h1>
    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
          <div><textarea id="txtbox" name="content" rows="1" cols="30"></textarea></div><br />
          <div><input id="submitbtn" type="submit" value="Sign Guestbook"></div>
    </form>

      <br>

      <div class="container1">
        <hr>
          <div id="list">
          
            {% for greeting in greetings %}
            {% if greeting.author %}
              <b>{{ greeting.author.nickname() }}</b>:
              <br>
            {% else %}
             Guest:
            {% endif %}
            <strong><blockquote>{{ greeting.content }}</blockquote></strong>
          {% endfor %}
          <br>
          </div>
        <hr>
      </div> 
        
        <div id="guest">Guestbook name</div>
        <div id="bottom">
          <br>
          <form>
            
            <strong><input value="{{ guestbook_name }}" name="guestbook_name"></strong>
            <br><br>
            <input id="switchbtn" type="submit" value="switch">
          </form>
          <br>
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    <br>
        </div>
        
        
        
  </div>
        

  </body>
</html>
{% endautoescape %}
